table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.container {
  margin-top: 30px;
  width: 80%;
  justify-content: center;
  align-items: center;
  background-color: #8267b1;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}
