<div fxLayout="row wrap" fxLayoutAlign="center">
    <div class="container">
        <div>
            <mat-form-field fxFlex="30">
                <input matInput type="search" placeholder="Search" value="" (input)="onSearch($event)" />
            </mat-form-field>
        </div>
        <mat-card>
            <mat-card-title>Manage</mat-card-title>

            <table>
                <thead>
                    <tr>
                        <th width="10%"></th>
                        <th>Member ID</th>
                        <th>name</th>

                        <th>username</th>
                        <th>password</th>

                        <th>position</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let member of filtered; let i = index">
                        <td>
                            <button mat-mini-fab><mat-icon>edit</mat-icon></button>
                            <button mat-mini-fab color="warn" style="margin-left: 10px;" (click)="onClickDelete(member)"><mat-icon>delete</mat-icon></button>
                            <button mat-mini-fab color="primary" style="margin-left: 10px;" ><mat-icon>search</mat-icon></button>
                        </td>
                        <td>{{member.memberId}}</td>
                        <td>{{member.titleName}} {{member.firstName}} {{member.lastName}}</td>

                        <td>{{member.username}}</td>
                        <td>{{member.password}}</td>

                        <td>{{member.position}}</td>


                    </tr>
                </tbody>
            </table>
        </mat-card>
    </div>
</div>
