<div fxLayoutAlign="start stretch" fxLayout="row wrap" style="padding: 20px;">
  <mat-form-field fxFlex="100" appearance="legacy">
    <mat-label>GroupType</mat-label>
    <select matNativeControl required [(ngModel)]="forms.groupType">
      <option value="heal">HEAL</option>
      <option value="side">SIDE</option>
    </select>
  </mat-form-field>

  <mat-form-field fxFlex="100" appearance="legacy">
    <mat-label>group</mat-label>
    <input matInput required [(ngModel)]="forms.group" />
  </mat-form-field>

  <mat-form-field fxFlex="100" appearance="legacy">
    <mat-label>code</mat-label>
    <input matInput required [(ngModel)]="forms.code" />
  </mat-form-field>

  <div
    *ngFor="let item of forms.items; let i = index"
    fxFlex="100"
    fxLayoutAlign="start stretch"
    fxLayout="row wrap"
  >
  <div fxFlex="80">
    <span >Item {{ i + 1 }}</span>
    <button  mat-icon-button color="primary" (click)="onDelete(item)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>


    <mat-form-field fxFlex="50" appearance="legacy">
      <mat-label>code</mat-label>
      <input matInput [(ngModel)]="item.code" />
    </mat-form-field>
    <mat-form-field fxFlex="50" appearance="legacy">
      <mat-label>name</mat-label>
      <input matInput [(ngModel)]="item.name" />
    </mat-form-field>
  </div>

  <button fxFlex="100" mat-icon-button color="warn" (click)="onAdd()">
    <mat-icon>add</mat-icon> <span>Item</span>
  </button>

  <mat-divider></mat-divider>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="end stretch" style="padding: 30px 0;">

    <ng-container *ngIf="data; else elseTemplate">
      <button fxFlex="20" [disabled]="validButton()" mat-raised-button color="primary" (click)="onSave()">
        <mat-icon>done</mat-icon><span>SAVE</span>
      </button>
    </ng-container>

    <ng-template #elseTemplate>
      <button fxFlex="20" [disabled]="validButton()" mat-raised-button color="primary" (click)="onSubmit()">
        <mat-icon>done</mat-icon><span>CREATE</span>
      </button>
    </ng-template>

  </div>
</div>

