<div fxLayout="row wrap" fxLayoutAlign="center">
    <div class="container">
        <div>
            <mat-form-field fxFlex="30">
                <input matInput type="search" placeholder="Search" value="" (input)="onSearch($event)" />
            </mat-form-field>
        </div>
        <mat-card>
            <mat-card-title>Manage</mat-card-title>

            <table>
                <thead>
                    <tr>
                        <th width="12%"></th>
                        <td>Customer ID</td>
                        <td>ID</td>
                        <td>name</td>




                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of filtered; let i = index">
                        <td>
                            <button mat-mini-fab><mat-icon>edit</mat-icon></button>
                            <button mat-mini-fab color="warn" style="margin-left: 10px;" (click)="onClickDelete(customer)"><mat-icon>delete</mat-icon></button>
                        </td>
                        <td>{{customer.customerId}}</td>
                        <td>{{customer.idCard}}</td>
                        <td>{{customer.titleName}} {{customer.firstName}} {{customer.lastName}}</td>





                    </tr>
                </tbody>
            </table>
        </mat-card>
    </div>
</div>